<h1>Fastboot Shoebox Test</h1>

<ul>
  {{#each-in model as |asset fingerprintedAsset|}}
    <li>{{asset}}: {{fingerprintedAsset}}</li>
  {{else}}
    <li>no results</li>
  {{/each-in}}
</ul>


{{outlet}}